@model List<TasteFoodIt.Entities.Notification>
@{
    ViewBag.Title = "NotificationList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Bildirim Listesi</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Anasayfa</a></li>
            <li class="breadcrumb-item">Bildirimler</li>
            <li class="breadcrumb-item active" aria-current="page">Bildirim Listesi </li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary"><a href="/Notification/CreateNotification/" class="btn btn-sm btn-primary">Bildirim Ekle</a></h6>
                </div>
                <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                        <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>Bildirim İçeriği</th>
                                <th>Renk-icon</th>
                                <th>Durum</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                string durum = "";
                                string durumYazi = "";
                                if (item.IsRead == true)
                                {
                                    durum = "bg-danger";
                                    durumYazi = "Okunmadı";
                                }
                                else
                                {
                                    durum = "bg-secondary";
                                    durumYazi = "Okundu";
                                }
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Description</td>
                                    <td><div class="icon-circle @item.IconCircleColor">
                                        <i class="fas @item.Icon text-white"></i>
                                        </div></td>
                                <td><a href="/Notification/StatusChangeNotification/@item.NotificationId"> <span class="badge @durum" style="color:white">@durumYazi</span></a></td>
                                    <td><a href="/Notification/DeleteNotification/@item.NotificationId" class="btn btn-sm btn-danger">Sil</a></td>
                                    <td><a href="/Notification/UpdateNotification/@item.NotificationId" class="btn btn-sm btn-success">Güncelle</a></td>
                                </tr>
                            }
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>

</div>

