@model TasteFoodIt.Entities.Notification
@{
    ViewBag.Title = "UpdateNotification";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Bildirim Güncelle</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Anasayfa</a></li>
            <li class="breadcrumb-item">Bildirimler</li>
            <li class="breadcrumb-item active" aria-current="page">Bildirim Güncelle</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Güncelleme Paneli</h6>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">

                            @Html.HiddenFor(x => x.NotificationId)
                            @Html.HiddenFor(x => x.Date)
                            <label>Bildirim Açıklama</label>
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })

                        </div>

                        <div class="form-group">
                            @*Icon seçim alanı*@
                            <label>Icon</label>

                            <div class="form-check">
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(x => x.Icon, "fa-code", new { @class = "btn-check", id = "code", autocomplete = "off" })
                                    <label class="btn btn-light m-md-1" for="code"><i class="fas fa-code"></i></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(x => x.Icon, "fa-thumbs-up", new { @class = "btn-check", id = "thumbs-up", autocomplete = "off" })

                                    <label class="btn btn-light m-md-1" for="thumbs-up"><i class="fas fa-thumbs-up"></i></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(x => x.Icon, "fa-thumbs-down", new { @class = "btn-check", id = "thumbs-down", autocomplete = "off" })

                                    <label class="btn btn-light m-md-1" for="thumbs-down"><i class="fas fa-thumbs-down"></i></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(x => x.Icon, "fa-hashtag", new { @class = "btn-check", id = "hashtag", autocomplete = "off" })

                                    <label class="btn btn-light m-md-1" for="hashtag"><i class="fas fa-hashtag"></i></label>
                                </div>

                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(x => x.Icon, "fa-gamepad", new { @class = "btn-check", id = "gamepad", autocomplete = "off" })

                                    <label class="btn btn-light m-md-1" for="gamepad"><i class="fas fa-gamepad"></i></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(x => x.Icon, "fa-poo-storm", new { @class = "btn-check", id = "fa-poo-storm", autocomplete = "off" })

                                    <label class="btn btn-light m-md-1" for="fa-poo-storm"><i class="fas fa-poo-storm"></i></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(x => x.Icon, "fa-power-off", new { @class = "btn-check", id = "fa-power-off", autocomplete = "off" })

                                    <label class="btn btn-light m-md-1" for="fa-power-off"><i class="fas fa-power-off"></i></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(x => x.Icon, "fa-lightbulb", new { @class = "btn-check", id = "fa-lightbulb", autocomplete = "off" })

                                    <label class="btn btn-light m-md-1" for="fa-lightbulb"><i class="fas fa-lightbulb"></i></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(x => x.Icon, "fa-medal", new { @class = "btn-check", id = "fa-medal", autocomplete = "off" })

                                    <label class="btn btn-light m-md-1" for="fa-medal"><i class="fas fa-medal"></i></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(x => x.Icon, "fa-star-and-crescent", new { @class = "btn-check", id = "fa-star-and-crescent", autocomplete = "off" })

                                    <label class="btn btn-light m-md-1" for="fa-star-and-crescent"><i class="fas fa-star-and-crescent"></i></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(x => x.Icon, "fa-file-alt", new { @class = "btn-check", id = "fa-file-alt", autocomplete = "off" })

                                    <label class="btn btn-light m-md-1" for="fa-file-alt"><i class="fas fa-file-alt"></i></label>
                                </div>

                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(x => x.Icon, "fa-donate", new { @class = "btn-check", id = "fa-donate", autocomplete = "off" })

                                    <label class="btn btn-light m-md-1" for="fa-donate"><i class="fas fa-donate"></i></label>
                                </div>

                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(x => x.Icon, "fa-exclamation-triangle", new { @class = "btn-check", id = "triangle", autocomplete = "off" })

                                    <label class="btn btn-light m-md-1" for="triangle"><i class="fas fa-exclamation-triangle"></i></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(x => x.Icon, "fa-star", new { @class = "btn-check", id = "star", autocomplete = "off" })
                                  
                                    <label class="btn btn-light m-md-1" for="star"><i class="fas fa-star"></i></label>
                                </div>
                            </div>
                        </div>
                        @*Icon rengi seçim alanı*@
                        <div class="form-group">
                            <label>Renk Seçimi</label>
                            <div class="form-check">
                                @Html.RadioButtonFor(x => x.IconCircleColor, "bg-danger", new { @class = "btn-check", id = "kirmizi" })
                                <label class="btn btn-danger m-md-1" for="kirmizi">Kırmızı</label>
                                @Html.RadioButtonFor(x => x.IconCircleColor, "bg-warning", new { @class = "btn-check", id = "sari" })
                                <label class="btn btn-warning text-white m-md-1" for="sari">Sarı</label>
                                @Html.RadioButtonFor(x => x.IconCircleColor, "bg-primary", new { @class = "btn-check", id = "mavi" })
                                <label class="btn btn-primary text-white m-md-1" for="mavi">Mavi</label>
                                @Html.RadioButtonFor(x => x.IconCircleColor, "bg-success", new { @class = "btn-check", id = "yesil" })
                                <label class="btn btn-success text-white m-md-1" for="yesil">Yeşil</label>
                                @Html.RadioButtonFor(x => x.IconCircleColor, "bg-secondary", new { @class = "btn-check", id = "gri" })
                                <label class="btn btn-secondary text-white m-md-1" for="gri">Gri</label>

                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

