@model List<TasteFoodIt.Entities.Notification>

<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <span class="badge badge-danger badge-counter">@ViewBag.notificationCount</span>
    </a>
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            Bildirim Listesi
        </h6>
        @foreach (var item in Model)
        {
            <a class="dropdown-item d-flex align-items-center" href="/AdminLayout/NotificationStstusChangeToTrue/@item.NotificationId">
                <div class="mr-3">
                    <div class="icon-circle @item.IconCircleColor">
                        <i class="fas @item.Icon text-white"></i>
                    </div>
                </div>
                <div>
                    <div class="small text-gray-500">@(((DateTime)item.Date).ToString("MMMM, dd, yyyy"))</div>
                    <span class="font-weight-bold">@item.Description</span>
                </div>
            </a>
        }

        <a class="dropdown-item text-center small text-gray-500" href="/Notification/NotificationList/">Tümünü Göster</a>
    </div>
</li>
