
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead","Default")
<body>

    @Html.Action("PartialNavbarInfo","Default")

    @Html.Action("PartialNavbar","Default")

    <!-- END nav -->

    @Html.Action("PartialSlider","Default")

    <section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
        <div class="container">
            <div class="row no-gutters">
                
                
                @Html.Action("PartialReservationDefault", "Default")
                @Html.Action("PartialAbout", "Default")
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-intro" style="background-image: url(/Templates/tasteit-master/images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span>Hemen Yerinizi Ayırın</span>
                    <h2>Özel Buluşmalar &amp; Happy Hours</h2>
                </div>
            </div>
        </div>
    </section>

    @Html.Action("PartialMenu","Default")

    @Html.Action("PartialTestimonial","Default")

    @Html.Action("PartialChef","Default")

    @Html.Action("PartialInfo","Default")


    @Html.Action("PartialReservationNow","Default")

    @Html.Action("PartialFooter","Default")

    @Html.Action("PartialScript","Default")

</body>
</html>
